*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.nav{
    display: flex;
    margin: 40px;
    padding: 40px;
}

.logo{
    display: flex;
    justify-content: left;
}

.search{
    margin: 20px;
    justify-content: center;
    width: 50%;
    height: 50px;
}

.icon{
    justify-content: flex-end;
    
}
.column{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman';
    background:#ffff;
    background-position: center;
}
.column a{
    color:rgb(196, 189, 189);
    justify-content: space-between;
    text-decoration: none;
}
/* div{
    display: flex;
    justify-content: center;
} */
.gallery1{
    padding:0.5em;
    display: flex;
    justify-content: center;
    background-color: #ffff
}
.gallery2{
    padding:0.5em;
    display: flex;
    justify-content: center;
    background-color: #ffff
}
.gallery3{
    padding:0.5em;
    display: flex;
    justify-content: center;
    background-color: #ffff 
 }



















 /* .container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px;
    background-color: #fff;
    height:50px;
    width: 100%;
    z-index: 3;
} 
.container{
    display: flex;
    justify-content: left;
    width: 10px;
}
.search{
    display: flex;
    justify-content: center;
    width:100%;
    margin: 30px auto 10px;
}

.nav{
    display: flex;
    justify-content: right;
} */


/* body{
    font-family: "segoe UI", Roboto, Helvetica, Arial;
    background: fff;
    font-size: 14px;
    line-height:28px;
}
.container{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 30px auto 10px;
}
.column{
    margin: 10px 20px;
    padding: 20px;
/*  */












 






/* .nav{
    
}
/* .container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px;
    background-color: #fff;
    height:50px;
    width: 100%;
    z-index: 3;
} */
/* .header{
    display: flex;
    justify-content: left;
    width: 10px;
}
.logo{
    width: 20%;
    height:20%;
}
.search{
    display: flex;
    justify-content: center;
    width:100%;
    margin: 30px auto 10px;
}

.nav{
    display: flex;
    justify-content: right;
} */